.overflow-x-scroll::-webkit-scrollbar {
    height: 8px;
    width: 12px;
    border-radius: 5px; /* Tambahkan border-radius di sini */
}

.overflow-x-scroll::-webkit-scrollbar-track {
    background: #fff;
}

.overflow-x-scroll::-webkit-scrollbar-thumb {
    background: #d4a373;
    border-radius: 8px; /* Tambahkan border-radius di sini */
}

.overflow-x-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 8px; /* Tambahkan border-radius di sini */
}
